.container{
    height: 600px;
    background-color: cornflowerblue;
    border: 1px solid transparent;
}
.box{
    width: 100px;
    height: 100px;
    background-color: tomato;
    float: left;
    margin: 5px;
}
.box10{
    background-color: darkblue;
}